<h1>Listing monsters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mon #</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monsters.each do |monster| %>
  <tr>
    <td><%= monster.name %></td>
    <td><%= monster.monster_number %></td>
    <td><%= link_to 'Show', monster %></td>
    <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
    <td><%= link_to 'Destroy', monster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monster', new_monster_path %>
