<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <br />
    <%= f.label :description %><br />
    <%= f.text_area :description %>
    <br />
    <%= f.label :room_number %> (To link rooms together)<br />
    <%= f.text_field :room_number %>
    <br />
    <%= f.label :north_exit %><br />
    <%= f.select(:north_exit, Room.find(:all, :conditions => {:mod_id => @room.mod_id}).collect {|m|
        [m.name, m.id]}, {:prompt => "select (nothing yet)"}) %>
    <br />
    <%= f.label :south_exit %><br />
    <%= f.select(:south_exit, Room.find(:all, :conditions => {:mod_id => @room.mod_id}).collect {|m|
        [m.name, m.id]}, {:prompt => "select (nothing yet)"}) %>
    <br />
    <%= f.label :east_exit %><br />
    <%= f.select(:east_exit, Room.find(:all, :conditions => {:mod_id => @room.mod_id}).collect {|m|
        [m.name, m.id]}, {:prompt => "select (nothing yet)"}) %>
    <br />
    <%= f.label :west_exit %><br />
    <%= f.select(:west_exit, Room.find(:all, :conditions => {:mod_id => @room.mod_id}).collect {|m|
        [m.name, m.id]}, {:prompt => "select (nothing yet)"}) %>
    <br />
    <%= f.label :mod_number %><br />
    <%= f.text_field :mod_id %>
    <br />
    <%= f.label :first_monster %><br />
    <%= f.select(:monster1, Monster.all.collect {|m|
        [m.name, m.id]}, {:prompt => "select (nothing yet)"}) %>
    <br />
    <%= f.label :second_monster %><br />
    <%= f.select(:monster2, Monster.all.collect {|m|
        [m.name, m.monster_number]}, {:prompt => "select (nothing yet)"}) %>
  </div>
</br>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
 
 