<h1>Listing rooms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number | </th>
    <th>Module | </th>
    <th>Monster 1 | </th>
    <th>Monster 2 | </th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %>&nbsp</td>
    <td><%= room.room_number %>&nbsp</td>
    <td><%= room.mod_id %></td>
    <td><%= room.monster1 %> 
    <td><%= room.monster2 %> 
  
    <td><%= link_to 'Show', room,{:exit => room.north_exit} %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>this is the room index file</p>
<p>create new room from Module page</p>
<%= link_to 'Back to Module', mods_path %>
