<!-- show individual room -->

<p id="notice"><%= notice %></p>

<div id="fb_box">
  <div id="stat_bar">
    
  </div>
  <div id="room">

    <% if @room.north_exit %>
      <div id="north_arrow">
        <%= link_to image_tag("north_arrow.png"), room_path(:exit => @room.north_exit) %>
      </div>
    <% end %>
  
    <% if @room.south_exit %> 
      <div id="south_arrow">
        <%= link_to image_tag("south_arrow.png"), room_path(:exit => @room.south_exit) %> 
      </div>
    <% end %>

    <% if @room.east_exit %> 
      <div id="east_arrow">
        <%= link_to image_tag("east_arrow.png"), room_path(:exit => @room.east_exit) %> 
      </div>
    <% end %>

    <% if @room.west_exit %> 
      <div id="west_arrow">
        <%= link_to image_tag("west_arrow.png"), room_path(:exit => @room.west_exit) %> 
      </div>
    <% end %>
    

    <div id="character_card">
      <h3><%= @character.name %></h3>
      <h4>Health: <%= @character.health %></h4>
    </div>
    

    <% if @room.monster1 & @room.monster1 != 0%>  
      <div id = "monster_card">
        <h3><%= Monster.get_monster_info(@monster1, "name") %></h3>
        <h4>Health: <%= Monster.get_monster_info(@monster1, "health") %></h4>
      </div>
      
      <div id="attack_button">
        <%= @room.monster1%>
        <%= link_to "Attack!", room_path(@room,  
                :game_option => "attack",
                :monster_id => @room.monster1),
                :method => :put
         %>
      </div>
      <div id="heal_button">
        <%= link_to "Heal", room_path(@room,  
                :game_option => "heal"),
                :method => :put
         %>
      </div>
      <div id="monster_heal_button">
        <%= link_to "Heal Monster", room_path(@room,  
                :game_option => "heal", 
                :monster_id => @room.monster1),
                :method => :put
         %>
      </div>
    <% end -%>



  </div>
  <div id="room_description">
    
  </div>
  
  
  <div id="quickbar">
    this is for the quickbar
  </div>



</div>


<p>
  <b>Name:</b>
  <%= @room.name %> |

  <%= @room.id %>
  
  <% if @room.north_exit %>
    <b>North exit room</b>
    <%= @room.north_exit %> |
    <%= link_to 'North', room_path(:exit => @room.north_exit) %> |
    <%= @room.name %> |
  <% end %>
  
  <% if @room.south_exit %> 
    <b>South exit room</b>
    <%= link_to 'South', room_path(:exit => @room.south_exit) %> 
    <%= @room.south_exit %>|
  <% end %>
  
  <% if @room.east_exit %>
    <%= @room.east_exit %>
    <%= link_to 'East', room_path(:exit => @room.east_exit) %> |
  <% end %>
  
  <% if @room.west_exit %>
    <%= @room.west_exit %>
    <%= link_to 'West', room_path(:exit => @room.west_exit) %> |
  <% end %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to "Add Monster", new_monster_path(:room_number => @room.room_number) %>
