<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @room.name %>
  <%= @room.description %>
  <%= @room.room_number %>
  <%= @room.north_exit %>
  <%= @room.south_exit %>
  <%= @room.east_exit %>
  <%= @room.west_exit %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
